<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="CarSellLogger" target="SYSTEM_OUT">
            <MarkerFilter marker="SOLD" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%date{HH:mm:ss.SSS}: %thread - %msg%n"/>
        </Console>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%date [%-5level]: [%thread] %logger{1} - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="logs/app.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{dd-MM-yyyy}-%i.log.gz">
            <PatternLayout pattern="%date [%-5level]: [%thread] %logger{1} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="CarSellLogger"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>