# Java class files
*.class

# Project files
*.idea
*.iml

# Input files
LoC/config
LoC/tests/input/

# Necessary jars
!/LoC/lib/hamcrest-core-1.3.jar
!/LoC/lib/junit-4.12.jar

# Output files
LoC/out/
out/